fastapi
uvicorn
sqlalchemy
alembic
asyncpg
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
razorpay
httpx
websockets
scikit-learn
xgboost
shap
pandas
numpy
joblib
openai
langchain
langchain-openai
apscheduler
python-json-logger
aiosqlite
 aiofiles
jinja2
